.auth-container {
  background: linear-gradient(to right, #2c52d1, #2c52d1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.auth-title {
  text-align: center;
  
  font-size: 24px;
  font-weight: bold;
  color: #2c52d1;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.auth-input:focus {
  border-color: #2c52d1;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background-color: #2c52d1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-button:hover {
  background-color: #1f3aad;
}

.auth-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.auth-link {
  color: #2c52d1;
  text-decoration: none;
  font-weight: bold;
}
